  /*  */
  body{
    min-height: 100%;
    margin: 0px !important;
  }

  .container-fluid{
    width: 100%;
    height: 100%;
    background-image: url('../../image/background.PNG');
    position: relative;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .header{
    height: 100px;
    background-color: #07060678;
  }

  .body-container{
    height: calc(100vh - 100px);
    background-color: #1c1a183b;
  }

  .welcom{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 32pc;
    padding-bottom: 32pc;
  }
  h1.title{
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    font-size: 4vw;
    color: #fff;
    line-height: 1.18;
    text-align: center;
    font-weight: 800;
  }

  .action-acount{
    margin-top: 32px;
  }

  .bt-acount{
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(45deg,#fd267a,#ad3a1a);
    border: navajowhite;
    border-radius: 39px;
    width: 235px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    letter-spacing: .02em;
    font-weight: 600;
    cursor: pointer;
}
.bt-acount:hover{
    background: linear-gradient(45deg,#fd267a,#be593d);
}
 

/* modal */

.modal-body{
    height: 600px;
}

input
{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


.modal-body-phone{
  height: 300px;
}

.continue-code-qr{
  border-radius: 25px;
  height: 45px;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: 500;
  width: 100%;
}

.title-phone{
  font-style: italic;
  margin-bottom: 17px;
  margin-top: 14px;
  font-weight: 800;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1px;
}

.txt-phone{
  width: 100%;
  border: 1px solid #4c789b;
}

.recapcha{
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.iti--allow-dropdown{
  width: 100% !important;
  margin-bottom: 20px;

}

.continue-code-qr:hover{
  background: linear-gradient(45deg,#b5bc3a,#9f7265);
}

.size-input{
  width: 50px;
  margin-right: 10px;
  
}

.modal-body-codeqr{
  padding-left: 30px;
  padding-right: 30px;
  height: 240px;
}

.title-form-login{
  font-size: 1.6rem;
    font-weight: 700;
    font-style: italic;
    padding-top: 26px;
}

.input-container{
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-code{
  width: 100px;
}
